{% raw %}{% sw_extends '@Storefront/storefront/page/content-section.html.twig' %}{% endraw %}

{% raw %}{% block page_content_section_content %}{% endraw %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ cookiecutter.plugin_name }} Plugin Example</h1>
                <p>This is an example page from the {{ cookiecutter.plugin_name }} plugin.</p>
                <p>The controller action works and renders this Twig template!</p>
            </div>
        </div>
    </div>
{% raw %}{% endblock %}{% endraw %}
